/*  your css code here. If applicable */
body{
	background-color:#f5f5f5;
}
h1{
	margin-top:20px;
	margin-left:10px;
}
div{
	box-sizing:border-box;
	background-color:white;
	margin:10px;
	padding-top:10px;
	padding-left:10px;
	padding-bottom:5px;
	padding-right:10px;
}
p{
	margin:0px;
}
.author-name{
	text-align:right;
	font-style:italic;
}